*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}


.miNav {
    display: flex;
    justify-content: flex-end;
}


header nav {
    background-color: #e5e3e3;
    margin: 30px 20px 20px 20px; 
    padding: 20px 40px;
    border-radius: 50px;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 4px 15px 0 rgba(147, 237, 164, 0.2);
}

header nav a {
    text-decoration: none; 
    color: black; 
    
}

.principalContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    

    
    
}

.unirBloques {
    display: flex;
    flex-direction: column;
    
    
    
}

.texto1 {
    background-color: #e5e3e3;
    margin: 150px 10px 0 150px; 
    padding: 8px ;
    border-radius: 50px;
    text-align: left;
    box-shadow: 2px 4px 15px 0 rgba(147, 237, 164, 0.2);
    line-height: 1.5;/*interlineado*/
    display: inline-block;
    width: max-content;/*para que el ancho se ajuste al contenido*/
    font-size: 13px;
    
    

}

.saludo {
    padding: 20px 0px 20px 12px ;
    
    margin: 0 5px 5px 150px ;
    
    flex-direction: column;

}

.parrafo1 {
    padding: 5px 0px 20px 12px ;
    margin: 0px  50px 30px 150px ;
    text-align: left;
   
    flex-direction: column;
    justify-content: left;



}

.img1{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;   
    padding: 40px 0px 20px 12px ; 
    margin: 20px auto;
    margin-left: 250px;
    border-radius: 10%;

}


.aboutMeSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    

    
    
}

.unir_about {
    display: flex;
    flex-direction: column;
    
    
    
}


.aboutMeTexto1 {
    background-color:  #e5e3e3;
    margin: 50px 10px 0 150px;
    padding: 8px ;
    border-radius: 50px;
    text-align: left;
    box-shadow: 2px 4px 15px 0 rgba(147, 237, 164, 0.2);
    line-height: 1.5;/*interlineado*/
    display: inline-block;
    width: max-content;/*para que el ancho se ajuste al contenido*/
    font-size: 13px;
    
}

.aboutTitle{
    padding: 20px 0px 20px 0px ;
    
    margin: 0 5px 5px 150px ;
    
    flex-direction: column;

}


.aboutP{
    padding: 5px 0px 0px 0px ;
    margin: 0px  50px 20px 150px ;
    text-align: left;
   
    flex-direction: column;
    justify-content: left;
 }
 
 .subtitulo{
    padding: 5px 0px 20px 150px ;
    text-align: left;
 }

 .cajitas{
    display: flex;
    flex-direction: row;

 }

 .lenguaje{
    padding: 8px;
    margin: 10px 10px 10px 150px ;
    text-align: left;
    background-color: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(211, 211, 214);
    border-radius: 10px;
 }

 .educacion{
    padding: 8px;
    margin: 10px 10px 10px 100px ;
    text-align: left;
    background-color: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(211, 211, 214);
    border-radius: 10px;
 }

 .img2{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;   
    padding: 40px 0px 20px 12px ; 
    margin: 20px auto;
    margin-left: 150px;
    margin-right: 290px;
    border-radius: 13%;
    
 }

 .proyectContainer {
    display: flex;
    flex-direction: row;
    
    justify-content: center; 
 }

.unirProyect {
    display: flex;
    flex-direction: column;
    align-items: center;
        
    }

.proyectTitle {
    padding: 20px 0px 20px 0px;
    margin: 0;
    text-align: center;
    }

.proyects{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
    }

.contImag3 {
    background-color:  #e5e3e3;
    padding: 20px 20px 50px 20px;
    color: blue;
    justify-content: center;
}

.img3, .img4, .img5 {
    width: 400px;
    height: 300px;
    
}

.contImag4 {
    background-color:  #e5e3e3;
    padding: 20px 20px 50px 20px;
    
    
}

.contImag5 {
    background-color:  #e5e3e3;
    padding: 20px 20px 50px 20px;    
}

.leng {
    color:black;
    display: inline-block;
    background-color: red;
    padding: 5px;
    justify-content: center;
    
    
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin: 50px auto;
    background-color: rgba(253, 245, 200);
    padding-top: 30px;
    border-radius: 10%;
}

/*.name, .email, .description {
    display: flex;  
    margin: 10px 0 5px 0;
    background-color: aquamarine;
}*/

.cajaName, .cajaEmail, .cajaMensaje {
    
    display: flex;  
    margin: 10px 0 5px 0;

    width: 300px;
    padding: 10px;
    border: none;/*ponemos none para que ya no este la caja y poder poner solo la linea adebajo*/
    border-bottom: 2px solid #717171;/*border-bottom para que aparezca la linea solo adebajo*/
    outline: none; /*para qie desaparezca la cajita negra*/

}

.cajaName:focus, .cajaEmail:focus, .cajaMensaje:focus {
    border-bottom: 2px solid blue; /*cambia de color la linea al darle click*/
    transform: scale(1.02); /*agranda un poco la caja al darle click*/
    

}

.boton{
    display: block;
    background-color: aqua;
    padding: 15px 60px;
    margin: 30px auto;
    cursor: pointer;
    border-radius: 25px;
    
}

.boton:hover{
    background-color: rgb(105, 241, 105);
    transform: scale(1.05);
}


footer { 
    text-align: center;
    padding: 20px;
    background-color: #e5e3e3;
    margin-top: 50px;
    box-shadow: 2px 4px 15px 0 rgba(147, 237, 164, 0.2);
    line-height: 1.5;/*interlineado*/
}