*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}


.miNav {
    display: flex;
    justify-content: flex-end;
}


header nav {
    background-color: #e5e3e3;
    margin: 30px 20px 20px 20px; 
    padding: 20px 40px;
    border-radius: 50px;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 4px 15px 0 rgba(147, 237, 164, 0.2);
}

header nav a {
    text-decoration: none; 
    color: black; 
    
}

.principalContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    
}

.unirBloques {
    display: flex;
    flex-direction: column;
    
    
}

.texto1 {
    background-color: #e5e3e3;
    margin: 150px 10px 0 150px; 
    padding: 8px ;
    border-radius: 50px;
    text-align: left;
    box-shadow: 2px 4px 15px 0 rgba(147, 237, 164, 0.2);
    line-height: 1.5;/*interlineado*/
    display: inline-block;
    width: max-content;/*para que el ancho se ajuste al contenido*/
    font-size: 13px;
    

}

.saludo {
    padding: 20px 0px 20px 12px ;
    
    margin: 0 5px 5px 150px ;
    
    flex-direction: column;

}

.parrafo1 {
    padding: 5px 0px 20px 12px ;
    margin: 0px  50px 30px 150px ;
    text-align: left;
   
    flex-direction: column;
    justify-content: left;



}

.img1{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;   
    padding: 40px 0px 20px 12px ; 
    margin: 20px auto;
    margin-left: 250px;
    border-radius: 10%;

}




