*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}





header nav {
    background-color: #e5e3e3;
    margin: 30px 50px 0 250px; 
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 4px 15px 0 rgba(147, 237, 164, 0.2);
}

header nav a {
    text-decoration: none; 
    color: black; 
    
}

.contenedor {
    display: flex;
    align-items: center;
}

.texto1 {
    background-color: #e5e3e3;
    margin: 10px 400px 0 10px; 
    padding: 0px 0px 0px 12px;
    border-radius: 50px;
    text-align: left;
    box-shadow: 2px 4px 15px 0 rgba(147, 237, 164, 0.2);
    line-height: 1.5;

}

.saludo {
    padding: 20px 0px 20px 12px ;
    flex-direction: column;

}

.parrafo1 {
    padding: 5px 0px 20px 12px ;
    flex-direction: column;

}

.img1{
    width: 400px;
    height: auto;
    display: block;
    margin: 20px auto;
    margin-left: 20px;

}




