
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
}


.miNav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(248, 181, 241);
    box-shadow: 2px 4px 15px 0 rgba(198, 16, 226, 0.834);
    position: sticky; /*para que el nav se quede estatico y se siga viendo con el scroll*/
    top: 0; /*sin esto el sticky no funciona correctamente*/
}


header nav {
    
    margin: 20px 10px 10px 10px; 
    padding: 10px 20px;
    border-radius: 50px;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    /*box-shadow: 2px 4px 15px 0 rgba(147, 237, 164, 0.2);*/
}

header nav a {
    text-decoration: none; 
    color: rgb(4, 4, 4);     
    padding: 10px;
    border-radius: 15px;
    
}
header nav a:hover {
    background-color: rgb(213, 102, 244);
    transform: scale(1);
    
}


.principalContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    

    
    
}

.unirBloques {
    display: flex;
    flex-direction: column;
    
    
    
}

.texto1 {
    background-color: rgb(248, 181, 241);
    margin: 150px 10px 0 150px; 
    padding: 8px ;
    border-radius: 50px;
    text-align: left;
    box-shadow: 2px 4px 15px 0 rgba(198, 16, 226, 0.834);
    line-height: 1.5;/*interlineado*/
    display: inline-block;
    width: max-content;/*para que el ancho se ajuste al contenido*/
    font-size: 13px;
    
    

}

.saludo {
    padding: 20px 0px 20px 12px ;
    
    margin: 0 5px 5px 150px ;
    
    flex-direction: column; 

}


.parrafo1 {
    padding: 5px 0px 20px 12px ;
    margin: 0px  50px 30px 150px ;
    text-align: left;
   
    flex-direction: column;
    justify-content: left;



}

.img1{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;   
    padding: 40px 0px 20px 12px ; 
    margin: 20px auto;
    margin-left: 250px;
    border-radius: 10%;

}


.aboutMeSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    

    
    
}

.unir_about {
    display: flex;
    flex-direction: column;
    
    
    
}


.aboutMeTexto1 {
    background-color: rgb(248, 181, 241);
    margin: 50px 10px 0 150px;
    padding: 8px ;
    border-radius: 50px;
    text-align: left;
    box-shadow: 2px 4px 15px 0 rgba(198, 16, 226, 0.834);
    line-height: 1.5;/*interlineado*/
    display: inline-block;
    width: max-content;/*para que el ancho se ajuste al contenido*/
    font-size: 13px;
    
}

.aboutTitle{
    padding: 20px 0px 20px 0px ;
    
    margin: 0 5px 5px 150px ;
    
    flex-direction: column;

}


.aboutP{
    padding: 5px 0px 0px 0px ;
    margin: 0px  50px 20px 150px ;
    text-align: left;
   
    flex-direction: column;
    justify-content: left;
 }
 
 .subtitulo{
    padding: 5px 0px 20px 150px ;
    text-align: left;
 }

 .cajitas{
    display: flex;
    flex-direction: row;
    
    
 }

 

 .unirCajitas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    margin: 10px 10px 10px 160px ;
    padding: 10px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(248, 181, 241);
    border-radius: 10px;
    transition: all 0.2s ease;   
    
 }

 .unirCajitas:hover {
    transform: scale(1.05);
    
 }


 .lenguaje{
    padding: 8px;
    gap: 12px;
    /*margin: 10px 10px 10px 150px ;*/
    text-align: left;
    
 }


 .educacion{
    padding: 15px;
    margin: 10px 70px 10px 100px ;
    text-align: left;
    gap: 12px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(248, 181, 241);
    border-radius: 10px;
    transition: all 0.2s ease;
 }

    .educacion:hover {
        transform: scale(1.05);
        }

 span{
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 20px;
 }
 
 .img2{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;   
    padding: 40px 0px 20px 12px ; 
    margin: 20px auto;
    margin-left: 150px;
    margin-right: 290px;
    border-radius: 13%;
    
 }

 .proyectContainer {
    display: flex;
    flex-direction: row;
    
    justify-content: center; 
 }

.unirProyect {
    display: flex;
    flex-direction: column;
    align-items: center;
        
    }

.proyectTitle {
    padding: 20px 0px 20px 0px;
    margin: 0;
    text-align: center;
    }

.proyects{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
    }



.contImag3 {
    background-color: rgb(248, 181, 241);
    padding: 20px 20px 50px 20px;   
    justify-content: center;
    width: 300px;
    height: 300px;
    transition: all 0.2s ease;
}

.contImag3:hover {
    transform: scale(1.05);
}

.img3, .img4, .img5 {
    width: 300px;
    height: 200px;
    
}

.contImag4 {
    background-color:  rgb(248, 181, 241);
    padding: 20px 20px 50px 20px;
    width: 300px;
    height: 300px;
    transition: all 0.2s ease;
    
}
.contImag4:hover {
    transform: scale(1.05);
}

.contImag5 {
    background-color:rgb(248, 181, 241)  ;
    padding: 20px 20px 50px 20px;   
    width: 300px;
    height: 300px; 
    transition: all 0.2s ease;
}

.contImag5:hover {
    transform: scale(1.05);
}

.leng {
    color:black;
    display: inline-block;
    background-color:  rgb(228, 164, 246);
    padding: 5px;
    justify-content: center;
    border-radius: 5px;
    
    
}

.contacto{
    padding: 8px;
    margin: 40px 0 0 0 ;
    text-align: center;
    }

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin: 30px auto;
    background-color: rgb(228, 164, 246);
    padding-top: 30px;
    border-radius: 10%;
    transition: all 0.2s ease;
}
.contactContainer:hover {
    transform: scale(1.02);
    
}

/*.name, .email, .description {
    display: flex;  
    margin: 10px 0 5px 0;
    background-color: aquamarine;
}*/

.cajaName, .cajaEmail, .cajaMensaje {
    
    display: flex;  
    margin: 10px 0 5px 0;
    background-color: transparent;
    width: 300px;
    padding: 10px;
    border: none;/*ponemos none para que ya no este la caja y poder poner solo la linea adebajo*/
    border-bottom: 2px solid #717171;/*border-bottom para que aparezca la linea solo adebajo*/
    outline: none; /*para qie desaparezca la cajita negra*/

}

.cajaName:focus, .cajaEmail:focus, .cajaMensaje:focus {
    border-bottom: 2px solid rgb(247, 15, 181); /*cambia de color la linea al darle click*/
    transform: scale(1.02); /*agranda un poco la caja al darle click*/
    

}

.cajaMensaje{
    max-height: 50px;
    resize: none; /*para que no se pueda cambiar el tamaño de la caja*/
}

.boton{
    display: block;
    background-color: rgb(215, 66, 242);
    padding: 15px 60px;
    margin: 30px auto;
    cursor: pointer;
    border-radius: 25px;
    
}

.boton:hover{
    background-color: rgb(248, 133, 236);
    transform: scale(1.05);
}


footer { 
    text-align: center;
    padding: 20px;
    background-color: rgb(251, 179, 244);
    margin-top: 50px;
    box-shadow: 2px 4px 15px 0 rgba(147, 237, 164, 0.2);
    line-height: 1.5;/*interlineado*/
    
    
}    

footer a{
    text-decoration: none;
    color: #000;
    line-height: 2;
    padding-right:20px ;
}

footer a:hover {
    color: rgb(213, 102, 244);
}
